/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

.body-over {
    overflow-y: hidden !important;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color:#d0942a;
    outline: 1px solid #fff;
    border-radius: 0px;
}


::-moz-selection {
    background: #d0942a;
    color: #fff;
}


::selection {
    background: #d0942a;
    color: #fff;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}

body {
    font-family: 'Cairo', sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.6;
    overflow-x: hidden !important;
     direction: rtl;
    text-align: right;
    background-image: linear-gradient(45deg, #fdf5e8, transparent);
   
}
/*******************************************************************/
  /*componenent*/
/*******************************************************************/
.aligne-center{
    text-align: center
}
/*********************************************************************/
/*********header *************/
/*********************************************************************/
.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.header img {
  /*  height: 104px;
    width: 82px;*/
    object-fit: contain;
}
/*********************************************************/
/*content */
section.news {
    padding: 40px 0;
}
.content-detalis{
    display: flex;
    justify-content: flex-start
}

.img-content {
    width: 430px;
    height: 300px;
    border-radius: 50px 0;
    margin-left: 20px;
    box-shadow: 0px 0px 6px 3px #c9c9c9;
}

h2.title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    position: relative
}
h2.title::after {
    position: absolute;
    content: "";
    width: 65px;
    height: 4px;
    background-color: #0f0e0e;
    top: 23px;
}
.p-content{
    max-width: 450px;
    margin-top: 20px
}
section.line-bottom .container{
    position: relative
}
section.line-bottom .container::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -40px;
    width: 100%;
    background-color: #d0942a;
    height: 2px;
}
/**************************************************************/
/*********** book **********/
/**************************************************************/
p.aligne-center.book-title {
  margin-bottom: 30px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}
/*************************************************************/
/********* footer **************/
/************************************************************/
section.footer {
    background-color: #1a1819;
    height: 85px;
}
section.footer p {
   margin-bottom: 0px
}
section.footer .row{
   align-items: center;
    height: 100%
    
}
section.footer .container{
    height: 100%
    
}
section.footer p.first {
   margin-bottom: 6px;
   font-weight: bold
}
p.footer-tittle {
    color: #a57625;
}
section.footer p a{
   text-decoration: none
}
p.second , p.second a {
    color: #fff;
}